# .gitignore

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore model checkpoints
checkpoints/
yolov8n.pt

# Ignore WandB logs and files
wandb/

# Ignore Temp files
temp/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore virtual environments
.env/
venv/

# Ignore entire data folder
data/

# Ignore log files
*.log

# Ignore Streamlit cache
.streamlit/

# Ignore notebook checkpoints
.ipynb_checkpoints/
